@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
}
/*a class to make things desapear*/
.vanish{
    display: none !important;
}
/*before and after game*/
#before {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgb(201, 111, 37),rgb(223, 91, 68));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
}
.welcome{
    margin: 10px;
    font-family: 'Marck Script', cursive;
    font-size: 20px;
    color: rgb(207, 24, 24)
}
.welcome:last-child{
    display: flex;
    flex-flow: row wrap;
    
}
.play{
    margin: 10px;
}
.play button{
    height: 40px;
    width: 150px;
    color: silver;
    background-color: rgb(207, 24, 24);
    border: none;
    cursor: pointer;
}
#after{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgb(201, 111, 37),rgb(223, 91, 68));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
}
/*game*/
#game{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgb(102, 64, 33),rgb(245, 210, 114));
}
.bigblock{
    height: 502px;
    width: 502px;
    border: solid;
    border-width: 1px;
    color: black;
    margin: 40px;
    float: left;
    display: flex;
    flex-wrap: wrap;
}
span{
    position: absolute;
    margin: 2px;
}
.pointhagrid{
    margin-left: 22px;
}
.pointhermione{
    margin-top: 15px;
    margin-left: -8px;
}
.pointseverus{
    margin-left: 30px;
    margin-top: 30px;
}
.noentry{
    width: 50px;
    height: 50px;
    font-size: large;
    text-align: center;
    border-width: 2px;
}
input{
    width: 50px;
    height: 50px;
    font-size: large;
    text-align: center;
    border-width: 2px;
}
.clues{
    float: right;
    margin: 50px;
    font-size: 18px;
    font-family: 'Gloria Hallelujah', cursive;
}
ul{
    list-style: none;
}
li{
    padding: 5px;
}
.endbutton{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button{
    height: 40px;
    width: 150px;
    color: silver;
    background-color: rgb(207, 24, 24);
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
}

